@model Thuctap01.Models.QuanlyhocphiModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Xem Thông Tin Chi Tiết</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mahocvien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mahocvien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenhocvien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenhocvien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.lop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.lop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Khoakhoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Khoakhoi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doituong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doituong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhapHoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayNhapHoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hocphi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hocphi)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tonghocphi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tonghocphi)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thucthu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thucthu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaythu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ngaythu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Mahocvien">Edit</a> |
    <a asp-action="Index">Quay Lại</a>
</div>
