@model IEnumerable<Thuctap01.Models.GiangvienModel>
@{
    ViewData["Title"] = "Lichsugiangvien";
}

<form class="row g-3">
    <div class="col-md-6">
        <b>Quản Lý Lương > <a> Hồ Sơ Giảng Viên > </a><a style="color:orange" asp-action="Lichsugiangvien">Lịch  sử giảng viên</a></b>
    </div>
</form>
<br />
<br />
<div class="row g-3">
    <div class="col-md-6">
        <p><h4>Thông tin giảng viên</h4></p>
    </div>
    <div class="col-md-6">
        <p><h4>Lịch sử ngạch bậc</h4></p>
        <table class="table">
            <thead>
                <tr style="color: black; background: blanchedalmond">
                    <th>
                        STT
                    </th>
                    <th>
                        Ngạch/Hạch
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.manghach)
                    </th>
                    <th>
                        Bậc lương
                    </th>
                    <th>
                        Hệ số lương
                    </th>
                    <th>
                        Mức lương(VNĐ)
                    </th>
                    <th>
                        Ngày áp dụng ngạch/hạch
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Giảng viên cao cấp(hạng 1) 
                        </td>
                        <td>
                            V.0.7.0.1.0.1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            234
                        </td>
                        <td>
                            3744000
                        </td>
                        <td>
                            2019/01/01
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
            <p><h4>Lịch sử chức vụ</h4></p>
        </div>
        <div class="col-md-6">
            <p><h4>Lịch sử chức vụ</h4></p>
        </div>
        <table class="table">
            <thead>
                <tr style="color: black; background: blanchedalmond">
                    <th>
                        @Html.DisplayNameFor(model => model.Chucvu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tobomon)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Ngayapdungchucvu)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Chucvu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tobomon)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Ngayapdungchucvu)
                        </th>
                    </tr>
                }*@
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <p><h4>Biến động lương</h4></p>
    </div>
</div>

