@model Thuctap01.Models.QuanlyluongModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuanlyluongModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mabangluong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mabangluong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenbangluong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenbangluong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitinhluong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitinhluong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tongluongphaichi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tongluongphaichi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dachiluong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dachiluong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chuchiluong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chuchiluong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Mabangluong" class="btn btn-primary">Update</a> |
    <a asp-action="Index" class="btn btn-primary">Close</a>
</div>
