@*@model Thuctap01.Models.LuongModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LuongModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loaihopdong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loaihopdong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lươngcoban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lươngcoban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vanbanquyetdinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vanbanquyetdinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.baohiemphaidong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.baohiemphaidong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngachhang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngachhang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.manghach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.manghach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bacluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bacluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phucap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phucap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hesoluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hesoluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filedinhkem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filedinhkem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayapdungngachbac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayapdungngachbac)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDLuong" class="btn btn-primary">Update</a>
    <a asp-action="Index"  class="btn btn-primary">Quay Lại</a>
</div>*@
