@model IEnumerable<Thuctap01.Models.LuongModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Loaihopdong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lươngcoban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vanbanquyetdinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.baohiemphaidong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngachhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manghach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bacluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phucap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hesoluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filedinhkem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngayapdungngachbac)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Loaihopdong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lươngcoban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vanbanquyetdinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.baohiemphaidong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngachhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manghach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bacluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phucap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hesoluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filedinhkem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngayapdungngachbac)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDLuong">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDLuong">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.IDLuong">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
