@model IEnumerable<Thuctap01.Models.QuanlyluongModel>

@{
    ViewData["Title"] = "Index";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/bootstrap-3.4.1-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap-3.4.1-dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="~/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <script src="~/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<form class="row g-3">
    <div class="col-md-6">
        <b>Quản lý học phí > <a style="color:orange" asp-action="Index">Tổng hợp bảng lương</a></b>
    </div>
</form>
<br />
<br />
<div class="row g-2">
    <div class="col-md-5">
        <h2>TỔNG HƠP BẢNG LƯƠNG</h2>
    </div>
    <div class="col-md-7" style="text-align:right">
        <button style="background: gray; border-radius: 7px; height: 45px; width: 150px"><a asp-action="Create" style="background: gray; border-radius: 7px; height: 50px; width: 200px; color:white  ;text-decoration: none ">Bảng chấm công</a></button>
            <button style="background: royalblue; border-radius: 7px; color: white; width: 150px; height: 50px;">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Xuất Dữ Liệu</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Xuất XSL</a></li>
                    <li><a class="dropdown-item">Xuất CSV</a></li>
                </ul>
            </button>
        </div>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <input type="text" class="form-control" placeholder="Nhập Mã/Tên Giảng Viên" aria-label="Nhập Mã/Tên Giảng Viên" style="width: 400px;height:40px; border: 1px solid gray; border-radius: 10px; background: white; color: black; ">
                &nbsp
                <div class="col-md-4">
                    <select class="form-select" aria-label="Default select example" style="color: black; width: 250px; height: 40px; border: 1px solid gray; border-radius: 10px;">
                        <option selected>[Trạng thái]</option>
                        <option value="1">...</option>
                    </select>
                </div>
                <button class="btn btn-group" type="submit" style="background: orange; color: white; width: 150px; border: 1px solid gray; border-radius: 10px;">Tìm Kiếm </button>
            </div>
        </nav>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Mabangluong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Loaihopdong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kitinhluong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tongluongphaichi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dachiluong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Chuchiluong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Trangthai)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mabangluong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Loaihopdong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kitinhluong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tongluongphaichi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dachiluong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Chuchiluong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trangthai)
                        </td>
                        @*<td>
                                <a asp-action="Edit" asp-route-id="@item.Mabangluong">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Mabangluong">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Mabangluong">Delete</a>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example" style="text-align:right">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
